/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
	scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	position: relative;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
a {
	color:black;
	text-decoration: none;
	transition: all 500ms ease-in-out;
}
a:hover {
	text-decoration: underline;
}

li:hover, a:hover {
	color: #B1663C;
}
.textCenter {
	text-align: center;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img, #introduction figure a {
	display: block;
	margin: 10px auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin: 1em 0;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	position: relative;
}
#portfolio h2 a {
	display: block;
	position: absolute;
	right:30%;
	font-size: 15px;
	font-weight: 400;
	top: 8px;
}
.category {
	display: flex;
	gap:10px;
	justify-content: center;
	margin-bottom: 4em;
}
.category li {
	border: 1px solid #1D6154;
	border-radius: 60px;
	color:#1D6154;
	padding: 10px 30px;
	cursor: pointer;
	transition: all 500ms ease-in-out;
}
.category li.active, .category li:hover {
	background: #1D6154;
	color:#ffffff;
}
.category li.active {
	cursor: inherit;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
@keyframes item {
	from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
	
}
.gallery figure {
	display:none;
}
.gallery figure.show {
	display: block;
	animation: item 1s ease-in-out;
}

.gallery img {
	width: 100%;

}
#contact, #login {
	width: 50%;
margin: auto;
}
#contact > *, #login > * {
	text-align: center;

}
#contact h2, #login h2{
	margin-bottom: 20px;
}
form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

input, #login button, select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 0 20px;
}
 label {
	margin: 2em 0 1em 0;
}
textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"], #login button, .btnModal.btn{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	border: solid 1px #1D6154;
	transition: all 450ms ease-in-out;
	cursor: pointer;
}
input[type="submit"]:hover, #login button:hover, .btnModal.btn:hover{
	color:#1D6154;
	background-color: transparent;
}
.labelFile {
	display: flex;
	flex-direction: column;
	background: #E8F1F7;
	border-radius: 3px;
	padding: 30px;
	align-items: center;
	cursor: pointer;
	font-size: 10px;
	color:#444444;
}
.labelFile i {
	color: #B9C5CC;
	font-size: 60px;
	margin-bottom: 20px;
}
.labelFile span {
	background: #CBD6DC;
	border: 1px solid #CBD6DC;
	border-radius: 50px;
	padding: 10px 30px;
	color: #306685;
	transition: all 500ms ease-in-out;
	margin-bottom: 5px;
	font-size: 14px;
}
.labelFile img {
	height: 180px;
	width: auto;

}
.labelFile:hover span {
	background: transparent;
}
.btnModal.btn {
	width: auto;
	padding: 10px 50px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
}
.modal-wrapper {
	background-color: white;
	padding: 60px;
	border-radius: 10px;
	max-width: 630px;
	width: calc(100vw - 30px);
	height: auto;
	max-height: calc(100vh - 30px);
	text-align: center;
	position: relative;
	overflow: auto;
}
.modal-wrapper *:focus {
	box-shadow: 0 0 10px blue;
}
#form_work {
	max-width: 420px;
	margin: 0 auto;
}
button.btnCloseModal{
	visibility: hidden;
	position: absolute;
	top:30px;
	right: 30px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
button.btnCloseModal i {
	visibility: visible;
}
.btnModal.left{
	left: 30px;
	position: absolute;
	top:30px;
	width: 30px;
	height: 30px;
}
.btnModal.left span{
	display: none;
}
.gallery--modal {
	display: flex;
	flex-wrap: wrap;
	gap:10px;
	margin: 30px auto;
	padding-bottom: 30px;
	border-bottom: 1px solid #B3B3B3;
	max-width: 400px;
	text-align: left;
}
.gallery--modal figure {
	width:23%;
	position: relative;
}
.gallery--modal img {
	max-width: 100%;
}
.gallery--modal span {
	position: absolute;
	width:17px;
	height:17px;
	top:5px;
	right: 5px;
	background-color: black;
	color: white;
	font-size: 9px;
	line-height: 17px;
	text-align: center;
	cursor: pointer;
}
.modal-wrapper h2 {
	color:black;
	font-size:26px;
	font-weight: 400;
	font-family: 'Work Sans';
}
.banEdition {
	position: fixed;
	top:0;
	width: 100%;
	color: white;
	background-color: black;
	left: 0;
	text-align: center;
	padding: 10px;
	z-index: 2;
}
.banEdition button {
	background: #FFFFFF;
	border-radius: 60px;
	padding: 10px 20px;
	margin-left: 20px;
	color: black;
}
